docs/n8n-workflows/GENERIC-EMAIL-WORKFLOW.json
{
  "name": "Generic Email & Telegram Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-email",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "send-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"headers\"][\"x-n8n-secret\"]}}",
              "operation": "equals",
              "value2": "={{$env.EMAIL_HEADER_SECRET}}"
            }
          ]
        }
      },
      "id": "auth-check",
      "name": "Auth Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "fromEmail": "Local Snow <admin@localsnow.org>",
        "toEmail": "={{$node[\"Webhook\"].json[\"body\"][\"email\"]}}",
        "subject": "={{$node[\"Webhook\"].json[\"body\"][\"subject\"]}}",
        "emailType": "html",
        "message": "={{$node[\"Webhook\"].json[\"body\"][\"html\"]}}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [700, 200],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Webhook\"].json[\"body\"][\"sendTelegram\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-telegram",
      "name": "Check Telegram",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "chatId": "8113066616",
        "text": "={{$node[\"Webhook\"].json[\"body\"][\"telegramMessage\"]}}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1100, 100],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\": \"Unauthorized\", \"message\": \"Invalid or missing x-n8n-secret header\"}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "unauthorized",
      "name": "Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Email sent successfully\"}",
        "options": {}
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Auth Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth Check": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Check Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Telegram": {
      "main": [
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "generic-email-sender",
  "meta": {
    "instanceId": "local"
  },
  "tags": []
}
